
/* form contents */
.form {
    display: flex;
    flex-direction: column;
}

.form-div {
    height: fit-content;
    width: 50%;
    margin-top: 40px;
    margin-left: 30%;

}

.form-fields {
    width: 75%;
}

.btn {
    margin-top: 20px;
    width: 75%;
}

/* display detail contents */
.card {
    height: fit-content;
    width: 25%;
    margin-top: 40px;
    margin-left: 35%;
}